body, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383232;
    font-family: sans-serif;
}

main {
    height: 90vh;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rps-figure {
    max-height: 50px;
    max-width: 50px;
    flex-shrink: 1;
}